li {
     list-style: none;
}

#header {
    height: 160px;
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    background-color: #DEE1E1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#header h1 {
    margin-top: 75px;
    margin-left: 50px;
}

#results_header {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

 #content h2 {
     margin-top: 40px;
 }

.item_description {
    margin-top: 35px;
    margin-bottom: 80px;
}

.top_item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left:  -40px;
    border: 1px solid gray;
    border-radius: 20px;
}

#search_button {
    background-color: #008CBA;
    color: white;
    border: none;
}