{% extends "layout.html" %}

{% block content %}

<h1 id="header">Russia Security Podcasts List</h1>
<div id="content"></div>

<script>
    let data = {{ data|tojson }}
    $(document).ready(function() {
        $("#content").append("<ul id='itemlist'>");
        $.each(data, function(i, item) {
            let html_item = $("<li class='top_item'>");
            let title = item["title"];
            let id = item["id"];
            $(html_item).text(title);
            $(html_item).click(function() {
                window.location.assign("/detail/" + id);
            });
            $("#itemlist").append(html_item);
        })
        $("#content").append("</ul>");
    });
</script>

{% endblock %}