{% extends "layout.html" %}

{% block content %}

<h2 id="results_header">Search results for:</h2>

<div id="content"></div>

<script>

let data = {{ data|tojson }}

$(document).ready(function() {
    $("#content").append("<ul id='itemlist'>")
        if (!data || data.length == 0) {
            let html_item = $("<h2>No Results</h2>");
            $("#content").append(html_item)
        } else {
            $.each(data, function(i, item) {
                let html_item = $("<li class='top_item'>")
                $(html_item).text(item["title"])
                $(html_item).click(function() {
                    window.location.assign("/detail/" + item["id"]);
                })
                $("#itemlist").append(html_item)
        })
        $("#content").append("</ul>")
        }
    });
</script>

{% endblock %}